body{
    font-family: arial, sans-serif, sans-serif;
    background-image: linear-gradient(45deg, rgb(31 60 97), rgb(0 0 0));

}
div{
    background:#2d4077e6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 10px;
    color: white;
    border: 2px solid #505050;
}
input{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    width: 92%;
    cursor: pointer 
}
button{
    background-color: #f5a700;
    border: none;
    padding:10px;
    width:100%;
    font-size: 15px;
    color:white;
    border-radius:10px;
}
button:hover{
    background-color:#605d5d;
}

h1{
    font-size: 36px;
    text-align: center;
    color: #fff;
}